.container {
  background: #fff;
  padding: 20px 25px;
  margin: 30px 0;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  width: 65rem;
}

.container thead {
  border-bottom: 2px solid var(--bs-border-color);
}

.container tr th,
.container tr td {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
}
.container tr th:first-child {
  width: 60px;
}
.container tr th:last-child {
  width: 100px;
}
.container tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}
.container tbody tr:hover {
  background: #f5f5f5;
}
.containerth i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}
.container td:last-child i {
  opacity: 0.9;
  font-size: 22px;
  margin: 0 5px;
}
.container td a {
  font-weight: bold;
  color: #566787;
  display: inline-block;
  text-decoration: none;
  outline: none !important;
}
.container td a:hover {
  color: #2196f3;
}
.container td a.edit {
  color: #ffc107;
}
.container td a.delete {
  color: #f44336;
}
.container td i {
  font-size: 19px;
}
.container .avatar {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}
